### single files ###
*.log

### folders ###

# mp3 testing files
.mp3/
test/data/sandbox/

# project dependencies
node_modules

# build folders
dist
build

# code coverage
.nyc_output/
.coveralls.yml
reports/coverage

# stryker mutations
.stryker-tmp
reports/mutation
