source $HOME/.config/vim/.vimrc

set backupdir=$HOME/.vim/backup/     " put backup files, double slashes avoid name collisions
set directory=$HOME/.vim/swap/       " put swp files here, double slashes avoid name collisions

" vim:syn=vim
